#about {
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: var(--background);
  margin: auto;
  max-width: 1000px;
  padding-top: 100px;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.about-description {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--slate);
  line-height: 1.5;
  margin-bottom: 1.5rem;
  text-align: left;
}

.about-description a,
.about-description b {
  text-decoration: none;
  font-weight: bold;
}

.about-description a {
  color: var(--primary);
}

.about-content img {
  max-width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-left: 20px;
}
