.App {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  background-color: var(--background);
}

.section {
  padding: 5rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 3rem;
  font-weight: 550;
  font-family: NTR, Arial, sans-serif;
  color: var(--accent);
  text-align: left;
  position: relative;
  margin-bottom: 5rem;
  display: inline-block;
}

.section-header {
  text-align: left;
  width: 100%;
  align-items: center;
  background-color: var(--background);
  margin: auto;
  max-width: 1100px;
  padding-top: 100px;
}
